{% extends "home/base_menu.html" %}
{% block content %}

<style>



table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 1000px;
    border-collapse:
    collapse; border-spacing: 0;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; }
/* Hover cell effect! */

.equalDivide tr td { width:25%; }


</style>

{% if user.is_authenticated %}
<p>
<a href="{% url 'logout' %}?next={% url 'web_ideas:all' %}">Logout</a>
</p>

<h1>Bail Fund Roster Data</h1>
<p>
{% if roster_list %}
<table name='roster_data' class="sortable">

    <thead id='data_header'>
        <tr>
            <th>First Name    &nbsp;</th>
            <th>Last Name    &nbsp;</th>
            <th>Booking Date &nbsp;</th>
            <th>SO # (Permanant)   &nbsp;</th>
            <th>Age    &nbsp;</th>
            <th>Sex    &nbsp;</th>
            <th>Race    &nbsp;</th>
            <th>Ethnicity    &nbsp;</th>
            <th>Mean Bond &nbsp;</th>
            <th>Median Bond    &nbsp;</th>
            <th>Min Bond    &nbsp;</th>
            <th>Max Bond    &nbsp;</th>
        <th>Charges    &nbsp;</th>
        </tr>
    </thead>



    <tbody id='baildata'>
    {% for roster in roster_list %}
        <tr>

            <td>{{roster.firstname}} &nbsp;</td>
            <td>{{roster.lastname}} &nbsp;</td>
            <td>{{roster.booking_dt}} &nbsp;</td>
            <td><a href="/bailfund/bond_list?so={{roster.so}}">{{roster.so}}</a> &nbsp;</td>
            <td>{{roster.age}} &nbsp;</td>
            <td>{{roster.sex}} &nbsp;</td>
            <td>{{roster.race}} &nbsp;</td>
            <td>{{roster.ethnicity}} &nbsp;</td>
            <td>{{roster.bondmean}} &nbsp;</td>
            <td>{{roster.bondmedian}} &nbsp;</td>
            <td>{{roster.bondmin}} &nbsp;</td>
            <td>{{roster.bondmax}} &nbsp;</td>
            <td>{{roster.charges}} &nbsp;</td>

        </tr>
    {% endfor %}
    </tbody>

</table>
{% else %}
  <p>There are no entries in the database.</p>
{% endif %}
</p>
<p>


{% else %}

<p>
<a href="{% url 'login' %}?next={% url 'web_ideas:all' %}">Login</a>
</p>
{% endif %}


<script src="//www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}

